@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

.garamond-300 {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 300; /* Cambiado de <weight> a 300 para peso light */
  font-style: normal;
}

.garamond-regular {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Cambiado de 300 a 400 para peso regular */
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
